@media all and (max-width: 1000px) {
  .hdr {
    display: none;
  }

  .menu {
    display: inline-block;
  }

  .isi1 {
    display:block;
  }
}

@media all and (max-width: 670px) {
  .extra2 {
    display:inline-block;
  }
}

@keyframes test {
  0% {bottom:0px}
  45% {top:0px}
  60% {top:40px}
  75% {top:0px}
  90% {top:20px}
  100% {top:0px}
}
